@import "../../scss/variables";

.pagination {
  padding: rem(20) 0;
}
.pagination-nav {
  &__prev {
  }
  &__next {
  }
}
.pagination-items {
  display: flex;
  gap: rem(10);
}
.pagination__button {
  min-width: 50px;
  min-height: 50px;
  padding: 0.9375rem;
  background-color: #000;
  border: 2px solid #e6e600;
  border-radius: 25px;
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
  &:hover {
    border-color: transparent;
    background-color: #e6e600;
    color: #000;
    cursor: pointer;
  }
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
  }
}
.pagination__button-dsb {
  background-color: $color-1;
  border-color: $color-1;
  pointer-events: none;
  &:hover {
    background-color: $color-1;
    color: $secondColor;
  }
}
.current-page {
  border-color: transparent;
  background-color: #e6e600;
  color: #000;
  cursor: pointer;
}
