@import "../../scss/variables";

.sortbar {
  background-color: $color-0;
  padding: rem(20);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.sortbar-items {
  margin-bottom: rem(10);
  &:nth-child(1) {
    flex: 1 1 auto;
    overflow: overlay;
    transition: all 1s ease;
    &:hover {
      &::-webkit-scrollbar {
        transition: all 1s ease;
        display: block;
      }
    }
    &::-webkit-scrollbar {
      display: none;
      height: rem(5);
      background-color: $color-2;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $color-3;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      background-color: $color-2;
    }
  }
  &:last-child {
    flex: 0 0 220px;
  }
}
.sortbar-list {
  padding: rem(10);
  display: flex;
  gap: rem(10);
}
.sortbar-list__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-2;
  background: linear-gradient(
    90deg,
    rgba(155, 155, 0, 1) 0%,
    rgba(255, 255, 0, 1) 50%,
    rgba(155, 155, 0, 1) 100%
  );
  padding: rem(10);
  border-radius: 40px;
  height: 50px;
  min-width: rem(120);
  font-size: rem(20);
  font-weight: 400;
  &:hover {
    cursor: pointer;
    background: rgb(155, 155, 0);
  }
}
.sortbar-active {
  background: none;
  background-color: $color-1;
  color: $color-3;
  &:hover{
    background-color: $color-1;
  }
}
.sorting-box {
  position: relative;
  height: 100%;
  color: $color-4;
  display: flex;
  justify-content: center;
  gap: rem(10);
  align-items: center;
  background-color: $color-3;
  margin-left: rem(15);
  border-radius: 30px;
}
.sort-button {
  padding: rem(15);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(10);
  transition: all 0.4s ease;
  border-radius: 30px;
  &:hover {
    cursor: pointer;
    background-color: $color-2;
  }
}
.sort-button__text {
  font-size: rem(18);
  color: $color-0;
  font-weight: 400;
  text-transform: lowercase;
  @media screen and (max-width: $mobile) {
    display: none;
  }
  &-active {
    text-align: center;
    font-size: rem(18);
    border-bottom: 1px dashed #000;
    color: $color-0;
  }
}
.sorting-select {
  position: absolute;
  padding: rem(20) 0;
  background-color: $color-4;
  border-radius: 15px;
  top: rem(60);
  right: rem(30);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: rem(200);
}
.sorting-select__item {
  width: 100%;
  padding: rem(10) 0;
  color: $color-0;
  font-size: rem(20);
  text-align: center;
  transition: all 0.4s ease;
  &:hover {
    cursor: pointer;
    background-color: $color-3;
  }
}
.sort-active {
  background-color: $color-1;
  color: $color-4;
  &:hover {
    color: $color-0;
  }
}
