@use "../../scss/variables" as *;

.sortbar {
  background-color: $color-0;
  padding: toRem(20) 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sortbar-items {
  margin-bottom: toRem(10);
  &:nth-child(1) {
    // flex: 1 1 auto;
    overflow: overlay;
    transition: all 1s ease;
    margin-right: auto;
    &:hover {
      &::-webkit-scrollbar {
        transition: all 1s ease;
        display: block;
      }
    }
    &::-webkit-scrollbar {
      display: none;
      height: toRem(5);
      background-color: $color-2;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $color-3;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      background-color: $color-2;
    }
  }
  &:last-child {
    flex: 0 0 220px;
  }
}
.sortbar-list {
  padding: toRem(10) 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: toRem(10);
}
.sortbar-list__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-2;
  background: linear-gradient(
    90deg,
    rgba(var(--RGB_color-2), 1) 0%,
    rgba(var(--RGB_color-4), 1) 50%,
    rgba(var(--RGB_color-2), 1) 100%
  );
  padding: toRem(10);
  border-radius: 40px;
  height: toRem(50);
  min-width: toRem(120);
  font-size: toRem(20);
  font-weight: 400;
  &:hover {
    cursor: pointer;
    background: rgb(var(--RGB_color-2));
  }
  @media screen and (max-width: $mobileSmall) {
    height: toRem(40);
  }
}
.sortbar-active {
  background: none;
  background-color: $color-1;
  color: $color-3;
  &:hover {
    background-color: $color-1;
  }
}
.sorting-box {
  position: relative;
  height: 100%;
  max-width: 220px;
  color: $color-4;
  display: flex;
  justify-content: center;
  gap: toRem(10);
  align-items: center;
  background-color: $color-3;
  margin-left: toRem(15);
  border-radius: 30px;
  @media screen and (max-width: $mobileSmall) {
    height: toRem(40);
  }
}
.sort-button {
  padding: toRem(15);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: toRem(10);
  transition: all 0.4s ease;
  border-radius: 30px;
  &:hover {
    cursor: pointer;
    background-color: $color-2;
  }
}
.sort-button__text {
  font-size: toRem(18);
  color: $color-0;
  font-weight: 400;
  text-transform: lowercase;
  @media screen and (max-width: $mobile) {
    // display: none;
  }
  &-active {
    text-align: center;
    font-size: toRem(18);
    border-bottom: 1px dashed $mainColor;
    color: $color-0;
  }
}
.sorting-select {
  position: absolute;
  padding: toRem(20) 0;
  background-color: $color-4;
  border-radius: 15px;
  top: toRem(60);
  right: toRem(30);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: toRem(200);
}
.sorting-select__item {
  width: 100%;
  padding: toRem(10) 0;
  color: $color-0;
  font-size: toRem(20);
  text-align: center;
  transition: all 0.4s ease;
  &:hover {
    cursor: pointer;
    background-color: $color-3;
  }
}
.sort-active {
  background-color: $color-1;
  color: $color-4;
  &:hover {
    color: $color-0;
  }
}
