@import "../../scss/variables";

.cart {
  padding: rem(50) 0;
  color: $secondColor;
  margin: 0 auto;
  width: 100%;
}
.cart-header {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(15);
}
.cart-title {
  display: flex;
  font-size: rem(50);
  align-items: center;
  color: $color-4;
  gap: rem(10);
  svg {
    width: 100%;
    height: 100%;
    path {
      stroke: $secondColor;
    }
  }
}
.cart-clear {
  flex: 0 1 250px;
}
.cart-clear__button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(20);
  gap: rem(5);
  padding: rem(15) rem(5);
  border-radius: 30px;
  border: 3px solid $color-3;
  transition: all 0.4s ease;
  &:hover {
    border-color: $color-3;
    background-color: $color-3;
    color: $color-0;
    svg {
      path {
        stroke: $color-0;
      }
    }
  }
  &:active {
    border-color: $color-2;
    background-color: $color-2;
  }
}
.cart-content {
  display: flex;
  flex-direction: column;
  gap: rem(20);
  min-height: 300px;
}
.empty-cart {
  margin: 0 auto;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  img {
    max-width: 100%;
  }
}
.cart-footer {
  display: flex;
  padding: rem(20) 0;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: rem(20);
}
.cart-footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: rem(20);
  padding: rem(10) 0;
  @media screen and (max-width: $mobileSmall) {
    flex-direction: column;
    gap: rem(10);
  }
}
.cart-footer__all-products {
  span {
    color: $color-3;
  }
  @media screen and (max-width: $mobileSmall) {
    align-self: flex-start;
  }
}
.cart-footer__all-price {
  span {
    color: $color-3;
  }
  @media screen and (max-width: $mobileSmall) {
    align-self: flex-end;
  }
}
.cart-footer__actions {
}
.cart-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(10);
  @media screen and (max-width: $mobileSmall) {
    justify-content: center;
  }
}
.cart-actions__back {
  width: 200px;
  border: 3px solid $color-4;
  padding: rem(20);
  border-radius: 35px;
  font-size: rem(20);
  transition: all 0.4s ease;
  &:hover {
    border-color: $color-3;
    background-color: $color-3;
    color: $color-0;
  }
  &:active {
    border-color: $color-2;
    background-color: $color-2;
  }
  @media screen and (max-width: $mobileSmall) {
    display: none;
  }
}
.cart-actions__checkout {
  width: 200px;
  background-color: $color-4;
  color: $color-0;
  font-size: rem(20);
  padding: rem(20);
  border-radius: 35px;
  border: 1px solid $color-4;
  transition: all 0.4s ease;
  &:hover {
    border-color: $color-2;
    background-color: $color-2;
  }
  &:active {
    background-color: $color-1;
    border-color: $color-1;
  }
  @media screen and (max-width: $mobileSmall) {
    flex: 0 1 70%;
  }
}
