@import "../../scss/variables";

.content {
  padding: rem(20) 0;
  background-color: $color-0;
  color: $secondColor;
  min-height: 100vh;
}
.content-title {
  padding-left: rem(20);
  padding-bottom: rem(20);
  font-size: rem(40);
  color: $secondColor;
  cursor: default;
}
.content-box {
  padding: rem(20);
}
.content-box__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: rem(20);
  & > * {
    flex: 1 1 20%;
  }
}
.pagination {
  padding: rem(20) 0;
}
.pagination-nav {
  &__prev {

  }
  &__next {

  }
}
.pagination-items {
  display: flex;
  gap: rem(10);
}
.pagination__button {
  min-width: 50px;
  min-height: 50px;
  padding: 0.9375rem;
  background-color: #000;
  border: 2px solid #e6e600;
  border-radius: 25px;
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
  &:hover {
    border-color: transparent;
    background-color: #e6e600;
    color: #000;
    cursor: pointer;
  }
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
  }
}
.pagination__button-dsb {
  background-color: $color-1;
  border-color: $color-1;
  pointer-events: none;
  &:hover {
    background-color: $color-1;
    color: $secondColor;
  }
}
.current-page {
  border-color: transparent;
  background-color: #e6e600;
  color: #000;
  cursor: pointer;
}
