@use "../../scss/variables" as *;

.content {
  padding: toRem(20) 0;
  background-color: $color-0;
  color: $secondColor;
  min-height: 100vh;
}
.content-title {
  padding-left: toRem(20);
  padding-bottom: toRem(20);
  font-size: toRem(40);
  color: $secondColor;
  cursor: default;
}
.content-box {
  padding: toRem(20) 0;
}
.content-box__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: toRem(20);
  & > * {
    flex: 1 1 20%;
  }
}