@import "../../scss/variables";

.card {
  border-radius: 10px;
  min-width: 400px;
  background-color: $color-0;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 0.4s ease;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 5px -1px,
    rgb(0 0 0 / 14%) 0px 6px 10px 0px, rgb(0 0 0 / 12%) 0px 1px 18px 0px;
  border: 3px solid $color-2;
  transition: all 0.4s ease;
  &:hover {
    border: 3px solid $color-4;
    transform: scale(1.01);
    box-shadow: rgb(0 0 0 / 20%) 0px 7px 8px -4px,
      rgb(0 0 0 / 14%) 0px 12px 17px 2px, rgb(0 0 0 / 12%) 0px 5px 22px 4px;
  }
  @media screen and (max-width: $mobileSmall) {
    min-width: 300px;
  }
}
.card-img {
  position: relative;
}
.image-card {
  cursor: pointer;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.card-info {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: rem(10);
  padding-right: rem(10);
  display: flex;
  color: $color-3;
  gap: rem(20);
  align-items: center;
  font-size: rem(20);
}
.info-kkal {
  background-color: $color-0;
  padding: rem(10);
  border-radius: 20px;
}
.info-weight {
  background-color: #000;
  padding: rem(10);
  border-radius: 20px;
}
.card-title {
  font-size: rem(30);
  font-weight: 600;
  background-color: rgba($color-4, 0.9);
  padding: rem(15) rem(20);
  text-align: center;
  color: $color-0;
}
.card-addons-box {
  padding: rem(20) rem(10);
}
.addons-descr {
  font-size: rem(20);
  font-weight: 400;
  padding-bottom: rem(20);
  padding-left: rem(10);
}
.addons-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: rem(10);
}
.addons-item {
  padding: rem(15);
  background-color: #000;
  border: 2px solid $color-3;
  border-radius: 25px;
  flex: 0 1 auto;
  display: flex;
  gap: rem(15);
  max-width: 300px;
  overflow: auto;
  justify-content: space-between;
  transition: all 0.4s ease;
  &:hover {
    border-color: transparent;
    background-color: $color-3;
    color: $color-0;
    cursor: pointer;
  }
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(16);
  }
}
.addon-active {
  background-color: $color-3;
  color: $color-0;
  &:hover {
    background: $color-2;
  }
  span {
    position: relative;
    &:first-child {
      padding-right: rem(28);
      &::after {
        content: "X";
        font-size: rem(16);
        line-height: 16px;
        position: absolute;
        top: -8px;
        right: -10px;
        width: 30px;
        height: 30px;
        background-color: $color-0;
        border-radius: 50%;
        color: $color-3;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &:last-child {
      display: none;
    }
  }
}
.card-footer {
  margin: rem(40) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-price {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-3;
  color: $color-0;
  height: rem(60);
  width: 40%;
  text-align: center;
  font-size: rem(22);
  font-weight: 600;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: default;
}
.card-button-box {
  width: 40%;
  position: relative;
}
.card-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: rem(60);
  width: 100%;
  padding: 0 rem(8);
  background-color: $color-3;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: $color-0;
  font-weight: 600;
  font-size: rem(20);
  transition: all 0.4s ease;
  &:hover {
    background-color: $color-2;
  }
}
.card-button__counter {
  color: $color-4;
  padding: rem(8);
  font-weight: 100;
  font-size: rem(16);
  background-color: $color-0;
  border-radius: 50%;
}
