@use "../../scss/variables" as *;

.header {
  background-color: $color-0;
  padding: toRem(20);
  &::after {
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: toRem(10);
    height: 3px;
    width: 75%;
    background-color: $color-3;
    transition: all 0.4s ease;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
}
.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: toRem(20);
  @media screen and (max-width: $tablet) {
    flex-wrap: wrap;
  }
}
.header-box__item {
  &-logo {
    @media screen and (max-width: $tablet) {
      order: 1;
    }
  }
  &-input {
    flex: 0 1 50%;
    @media screen and (max-width: $tablet) {
      margin: 0 auto;
      flex: 0 1 75%;
      order: 3;
    }
    @media screen and (max-width: $mobileSmall) {
      display: none;
    }
  }
  &-cart {
    @media screen and (max-width: $tablet) {
      order: 2;
    }
  }
}
.header-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: toRem(10);
  &__theme {
    flex: 0 0 50px;
    // background-color: #fff;
    height: 50px;
    border-radius: 50%;
    &--button {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      svg {
        padding-top: toRem(5);
        width: 60%;
        height: 60%;
        path {
          fill: $secondColor;
        }
      }
    }
  }
}
.header-item__logo {
  width: 80px;
  height: 80px;
  @media screen and (max-width: $mobileSmall) {
    width: 50px;
    height: 50px;
  }
}
.logo-img {
  width: 100%;
  object-fit: contain;
}
.header-item__input {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  width: 100%;
}
.header-input {
  border-radius: 10px;
  padding: toRem(5) toRem(20);
  height: toRem(50);
  width: 100%;
  background-color: #fff;
  background: linear-gradient(
    90deg,
    rgba(var(--RGB_color-2), 1) 0%,
    rgba(var(--RGB_color-4), 1) 50%,
    rgba(var(--RGB_color-2), 1) 100%
  );
  color: $mainColor;
  font-size: toRem(20);
  &:hover {
    background: none;
    background-color: rgba(var(--RGB_color-3), 0.4);
  }
  &:focus {
    background: none;
    background-color: $color-3;
    &::placeholder {
      opacity: 0;
    }
  }
  &::placeholder {
    transition: opacity 0.4s ease;
    color: $mainColor;
  }
  @media screen and (max-width:$mobileSmall){
    height: toRem(40);
  }
}
.header-input__icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  transition: all 0.4 ease;
  svg {
    path {
      fill: $mainColor;
    }
  }
  &--cursor-pointer {
    cursor: pointer;
  }
  @media screen and (max-width:$mobileSmall){
    height: 40px;
    width: 40px;
  }
}
.header-item__cart {
  height: toRem(50);
  width: 140px;
  border-radius: 10px;
  background-color: $color-4;
  @media screen and (max-width:$mobileSmall){
    height: toRem(40);
  }
}
.header-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: toRem(10);
  border-radius: 10px;
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(var(--RGB_color-3), 1) 0%,
    rgba(var(--RGB_color-4), 1) 50%,
    rgba(var(--RGB_color-3), 1) 100%
  );
  &:hover {
    background: none;
    background-color: rgba(#fff, 0.4);
  }
  svg {
    path {
      stroke-width: 1.3;
      stroke: $mainColor;
    }
  }
}
.cart-button__price {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: toRem(20);
  padding-right: toRem(5);
  margin-right: toRem(5);
  border-right: 2px solid $color-0;
}
.cart-button__badge {
  position: absolute;
  overflow: hidden;
  top: -15px;
  right: -15px;
  padding: toRem(10);
  padding-left: toRem(12);
  width: 35px;
  height: 35px;
  background-color: $color-0;
  color: $color-4;
  border: 1px solid $color-3;
  border-left: none;
  border-bottom: none;
  font-size: toRem(16);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
