@import "../../scss/variables";

.cart-item {
  padding: rem(20) 0;
  display: flex;
  align-items: center;
  gap: rem(10);
  border-bottom: 1px solid $color-4;
}
.cart-tem__left {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  gap: rem(20);
  @media screen and (max-width: $mobile) {
    flex-direction: column;
    align-items: flex-start;
  }
}
.cart-item__img {
  max-height: rem(150);
  flex: 0 0 50%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
  img {
    border-radius: 20px;
    width: 100%;
  }
}
.cart-item__content {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: $mobile) {
    flex-direction: column;
    gap: rem(20);
  }
}
.cart-item__info {
  flex: 1 1 auto;
  display: flex;
  gap: rem(10);
  flex-direction: column;
  justify-content: center;
}
.cart-item__info-title {
  font-size: rem(22);
  color: $color-3;
  text-transform: capitalize;
}
.cart-item__info-addons {
  font-size: rem(16);
  line-height: 1.15;
  flex: 1 1 100%;
  max-height: 100px;
  // overflow: auto;
}
.cart-item__count {
  flex: 0 1 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(10);
  font-size: rem(30);
}
.cart-item__count-minus {
  width: 50px;
  height: 50px;
  background-color: $color-3;
  border-radius: 50%;
  color: $color-0;
  line-height: 1.15px;
  transition: all 0.3s ease;
  &:disabled {
    background-color: $color-1;
    cursor: not-allowed;
    &:hover {
      background-color: $color-1;
      border-color: $color-1;
    }
  }
  &:hover {
    border-color: $color-2;
    background-color: $color-2;
    color: $color-0;
  }
  &:active {
    border-color: $color-1;
    background-color: $color-1;
  }
  @media screen and (max-width: $mobile) {
    width: 35px;
    height: 35px;
    font-size: rem(20);
  }
}
.cart-item__coun-num {
  font-size: rem(25);
}
.cart-item__count-plus {
  width: 50px;
  height: 50px;
  background-color: $color-3;
  border-radius: 50%;
  color: $color-0;
  font-size: rem(52);
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: rem(7);
  transition: all 0.3s ease;
  &:disabled {
    background-color: $color-1;
    cursor: not-allowed;
    &:hover {
      background-color: $color-1;
      border-color: $color-1;
    }
  }
  &:hover {
    border-color: $color-2;
    background-color: $color-2;
    color: $color-0;
  }
  &:active {
    border-color: $color-1;
    background-color: $color-1;
  }
  @media screen and (max-width: $mobile) {
    width: 35px;
    height: 35px;
    font-size: rem(35);
  }
}
.cart-item__price {
  text-align: center;
  flex: 0 1 10%;
  font-size: rem(25);
  @media screen and (max-width: $mobile) {
  }
}
.cart-item__button {
  width: rem(50);
  height: rem(50);
  @media screen and (max-width: $mobile) {
    width: 50%;
    border-radius: 20px;
    height: rem(35);
  }
}
.cart-item__button-remove {
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: rem(20);
  padding: rem(10);
  border: 3px solid $color-3;
  background-color: transparent;
  border-radius: 50%;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    border-color: $color-3;
    background-color: $color-3;
    color: $color-0;
  }
  &:active {
    border-color: $color-2;
    background-color: $color-2;
  }
  @media screen and (max-width: $mobile) {
    font-size: rem(14);
    border-radius: 20px;
  }
}