.root {
  position: absolute;
  top: 120px;
  left: 10px;
  width: 50px;
  height: 30px;
  z-index: 10;
  input {
    display: none;
  }
  .slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    background-color: #000;
    border-radius: 50px;
    cursor: pointer;
    // transition: all 1.4s;
    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: 5px;
      left: 5px;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 30px;
    }
    &:before {
      transition: 0.4s;
    }
    &:after {
      transition: 0.5s;
    }
  }
  .wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 30px;
    border-radius: 40px;
    // transition: all 1.4s;
  }
  input:checked + .slider {
    background-color: transparent;
    &:before,
    &:after {
      transform: translateX(20px);
    }
  }
  input:checked ~ .wave {
    display: block;
    background-color: #008000;
  }
}