@use "sass:math";
// @import '~bootstrap/scss/bootstrap.scss';
@import "./scss/mixins";
@import "./scss/variables";
@import "./scss/null";

// Скролл заблокирован
.lock {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}
@import "./scss/base";
