@use "sass:math";
// @import '~bootstrap/scss/bootstrap.scss';
@use "./scss/mixins" as *;
@use "./scss/variables" as *;
@use "./scss/null" as *;
@use "./scss/base" as *;

// Скролл заблокирован
.lock {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
body {
  background-color: $color-0;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}
html[data-theme="dark"] {
  @include generate_colors($colors-dark);
}

html[data-theme="light"] {
  @include generate_colors($colors-light);
}
